//Css for making div NOT overlap
		 div.box, table.box
		 {
		     padding: 10px 1000px 10px 10px;
		 }
		 div.box-header, td.box-header
		 {
		     border:  solid  1px  #BBBBBB ;
		     font-size: larger;
		     padding: 4px;
		     background-color: #DDDDDD;
		 }
		 div.box-body, td.box-body
		 {
		     padding: 6px;
		     border:  solid  1px  #BBBBBB ;
		     border-top: none;
		 }
		// highlighting styling
		  li {cursor:pointer; width:200px;}
		  li.highlight {margin:0px;border:0px;padding:0px;background-image:none;background-color:transparent;padding-left:3px;}
		  li.active {margin:0px;border:0px;padding:0px;background-image:none;background-color:transparent;padding-left:3px; } 
		 #browser {
		 font-family: Verdana, helvetica, arial, sans-serif;
		 font-size: 100.75%;
		}
		 #details{right:100px;top:200px;}
		 #leftSideTree{width:300px;}
		
		
		//Splitter css
		 #splitter { 
		 		height: 200px;
		 		width: 500px;
		 		border: 5px solid #aaa;
		 }
		 	#splitter div {
		 		overflow: auto;
		 	}
		 .vsplitbar {
		 		width: 5px;
		 		background: #cab;
		 }