/**5DA55B*/ 

/**color of title*/
#header {
	color: #5B82A4;
}

/**overall background*/
body,#header,#navigation,#information,#footer {
	background: white;
}

/**highlight background*/
.formscreen, .form_new, .form_filter, .embedtable, .popup, .form_new,.form_filter {
	background: #F8FAFB;
}

/**shade header*/
.shadeHeader,.leftNavigationSelected,.navigationSelected,.form_header, td.submenuitem:hover {
	background: #5B82A4;
}

/**highlight*/
.leftNavigationNotSelected,.navigationNotSelected, .form_menu, .submenuitem   {
	background: #BDCDDA;
	color: black;
}

.submenuitem{
	h: expression(onmouseover=new Function("this.style.backgroundColor='#5B82A4'; this.style.color='#fff';"),
                       onmouseout=new Function("this.style.backgroundColor='#BDCDDA'; this.style.color='black';"));	
	/*ie hack for td.submenuitem:hover*/
	
}

/**shade borders*/
.leftNavigationSelected,.navigationSelected,.formscreen,.form_new,.form_filter,.popup, .form_menu 
{
	border-color: #5B82A4;
}

/**font color*/
.leftNavigationSelected,.navigationSelected {
	color: white;
}

.form_listrow0 {
	background: #BDCDDA;
}

.form_listrow1 {
	background: #BCD6DA;
}