#protocols{
	margin-bottom:30px;
	
}

span.nav a{
text-align:center;
margin-right:15px;
color:black;

font-family : arial;
font-size:16px;
padding-left:5px;
padding-right:5px;
background-color:#BDCDDA;
padding-top:4px;
margin-bottom: 30px;
border-right:1px solid black;
border-left:1px solid black;
border-bottom:1px solid black;
/*
#BDCDDA
*/
}

span.nav1 a{
text-align:center;
margin-right:15px;
color:white;
font-family : arial;
font-size:20px;
padding-left:5px;
padding-right:5px;
padding-top:4px;
background-color:#5B82A4;
margin-bottom: 30px;

/*
#BDCDDA
*/
}


span a{
	text-decoration:none;
	
}
span:hover a{
	background:#5B82A4;
	color:white;
	
}

#headerSample{
	margin-top: 35px;
	color:white;
	font-family : arial;
	text-align:center;
	background:#5B82A4;
	font-weight:bold;
}

#block{
	margin-bottom:30px;
	padding-left:0px;
}