div#ShoppingCartLabel {
	border:solid;
 	background: #5B82A4;
	color: #FFFFFF;
	font-family: arial;
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 35%;
}

div.ShoppingCartContents {
	border-style: inset;
	width: 35%;

.ShoopingCartButton {
		bottom: 0; 
		right: 0;
}

#approveShoppingCart {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}

#approveShoppingCart td, #approveShoppingCart th  {
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}

#approveShoppingCart th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}

#approveShoppingCart tr.alt td {
	color:#000000;
	background-color:#EAF2D3;
}