div#ShoppingCartLabel {
	border:solid;
 	background: #5B82A4;
	color: #FFFFFF;
	font-family: arial;
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 35%;
}

div.ShoppingCartContents {
	border-style: inset;
	width: 35%;

.ShoopingCartButton {
		bottom: 0; 
		right: 0;
}