## Build folders
bin/
build/
tmp/
hsqldb/
handwritten/

## Always ignore these
*~
*.lock
*.DS_Store
*.swp
*.out

## Netbeans private
nbproject/private/

## General java
*.class

## Other ignored files
*.so
*.si
*.dll
*.o
*.tmp
tmp*
log*
.classpath
/.externalToolBuilders
*.svn
*.orig
*.java~
/bin
/test-output
/target
logger.out*
/dist
/generated/java
/.settings
!/.settings/template*
.project
