## Build folders
bin/
build/
tmp/
hsqldb/
handwritten/

## Always ignore these
*~
*.lock
*.DS_Store
*.swp
*.out
*.passwd

## Netbeans private
nbproject/private/

## IntelliJ private
.idea/
molgenis_apps.eml
molgenis_apps.iml


## General java
*.class

## Other ignored files
*.so
*.si
*.dll
*.o
*.tmp
tmp*
log*
.classpath
/.externalToolBuilders
*.svn
*.orig
*.java~
/bin
/test-output
/target
logger.out*
/dist
/.settings/org.eclipse.wst.common.component
