
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Web server test suite">
  <test name="Generic stuff">
    <classes>
       <class name="tests.TestGeneric" />
    </classes>
  </test>
  <test name="Web server">
    <classes>
       <class name="tests.TestWebserver" />
    </classes>
  </test>
  <test name="Bot network">
    <classes>
       <class name="tests.TestBot" />
    </classes>
  </test>
</suite>