/**overall background*/
.overallBackground,body,#header,#navigation,#information,#footer,.formscreen,.menuscreen,#container
	{
	background: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	position: relative;
	margin: 25px;
	padding: 25px;
	font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
}

/**.formscreen**/
.formscreen {
	border-style: none;
	/* 	margin:10px; */
	padding: -25px;
}

/**.menuscreen**/
.menuscreen {
	border-style: dashed;
	background: #008EE6;
	overflow: hidden;
	text-align: center;
}

/**Divs in menu**/
.navigationSelected {
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	border-margin:2px;
	background: #FFFFFF;
	color: #008EE6;
	float: left;
	margin: 5px;

}

.navigationNotSelected {
	float: left;
	margin: 5px;
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	border-margin:2px;
	background: #FFFFFF;
	color: #000000;
}

#container {
	align: justify;
}

.form_header{
	border-style:solid;
	border-width:2px;
	border-radius:25px;
	border-margin:2px;
	background: #008EE6;
	color: #FFFFFF;
	float: left;
	margin: 5px;

}

#footer{
	text-align:center;
}