.matrixviewer 
{
	width: 1000px;
	height: 1000px;
	position: relative;

}

/**overall background*/
.overallBackground,body,#header,#navigation,#information,#footer,.formscreen,.menuscreen,#container
	{
	background: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	position: relative;
	padding: 25px;
	font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
}

/**#main*/
#main{
	border-style: none;
	background: #009DFF;
	overflow: hidden;
	text-align: center;
	margin: 5px;
	font-size: 15pt;
	height: 20px;
}


/**.menuscreen**/
.menuscreen {
	border-style: none;
	background: white;
	overflow: hidden;
	text-align: center;
	font-size:12px;
	height: 15px;
	padding:20px;
}

.formscreen{
	border-style: none;
}

/**Divs in menu**/
.navigationSelected {
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	border-margin:2px;
	background: #FFFFFF;
	color: #009DFF;
	float: left;
	padding: 10px;
	margin: 5px;
	font-size:inherit;
}

.navigationNotSelected {
	float: left;
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	border-margin:2px;
	background: #FFFFFF;
	color: #000000;
	padding: 10px;
	margin: 5px;
	font-size:inherit;
}

#container {
	align: justify;
	clear: both;
}

.form_header{
	border-style:solid;
	border-width:2px;
	border-radius:25px;
	border-margin:2px;
	background: #009DFF;
	color: #FFFFFF;
	float: left;
	margin: 5px;

}
body.claro{
	border-style:none;
}

#footer{
	text-align:center;
	clear: both;
	width:auto;
	margin:5px;
	border-style: none;
}

#buttonDiv{
	height: 10px;
}