
#container {
	width: 900px;
	/* text-align: center; */
	align: center;
	margin: auto;
}

.wizardfoldout {
	display: none;
	position: relative;
	margin: 0;
	font: menu;
	border-style: outset;
	border-width: 0px;
	width: 700px;
}

.matrixviewer 
{
	width: inherit;
}