body {
	font-size: 10pt;
	font-family: verdana;
}

/**5DA55B*/ 

/**color of title*/
.colorOfTitle,#subheader,#separator {
	color: #d95a14;
}

#header {
	color: #000000;
}

/**overall background*/
.overallBackground,.matrixRowColorEmpty,body,#header,#navigation,#information,#footer {
	background: white;
	border-top-color: #d95a14;
}

/**matrix inner table and cells*/
.tableBorder,.matrixTableCell{
	border-color: white;
}

/**highlight background*/
.highlightBackground,.formscreen, .form_new, .form_filter, .embedtable, .popup, .form_new,.form_filter {
	background: #F8FAFB;
}

/**shade header*/
.shadeHeader,.leftNavigationSelected,.navigationSelected,.form_header, td.submenuitem:hover {
	background: #d95a14;
}

/**highlight*/
.highlight,.leftNavigationNotSelected,.navigationNotSelected, .form_menu, .submenuitem   {
	background: white;
	border: none;
	color: #2142FD;
}

.submenuitem{
	h: expression(onmouseover=new Function("this.style.backgroundColor='#5B82A4'; this.style.color='#fff';"),
                       onmouseout=new Function("this.style.backgroundColor='#BDCDDA'; this.style.color='black';"));	
	/*ie hack for td.submenuitem:hover*/
	
}

/**shade borders*/
.shadeBorder,.leftNavigationSelected,.navigationSelected,.formscreen,.form_new,.form_filter,.popup, .form_menu 
{
	border-color: #d95a14;
}

/**font color*/
.fontColor,.leftNavigationSelected,.navigationSelected {
	color: white;
}

.matrixRowColor0,.form_listrow0,.tableheader {
	background: #CACACA;
}

.matrixRowColor1,.form_listrow1 {
	/*background: #BCD6DA;*/
	background: #EEEEEE;
}

.form_listrow2 {
	background: #DDDDDD;
}
	
input, select {
	color: #666666;
	background: #DDDDDD;
}

.pd4537 {
	background: #d95a14;
	border-color:#000000;
}

.pd4539 {
	background: #6dcbfe;
	border-color:#000000;
}

.pd4538 {
	background: #d95a14;
	border-color:#000000;
}